<h2>Here you can create your own Blog Post </h2>



<%= form_tag '/blogs', method: :post do %>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Title: </span>
  <input type="text" class="form-control" name="title" aria-describedby="basic-addon1">
</div>

  <div class="form-group">
    <label for="comment">Content:</label>
    <textarea class="form-control" rows="10" id="comment" name="content" ></textarea>
  </div>


  <input type="submit" value="Submit">
<% end %>

