<h2> Signup! </h2>

<%= form_tag '/users', method: :post do  %>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">First name:</span>
    <input type="text" class="form-control" name="first_name" aria-describedby="basic-addon1" >
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Last name:</span>
    <input type="text" class="form-control" name="last_name" aria-describedby="basic-addon1" >
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Email:</span>
    <input type="email" class="form-control" name="email" aria-describedby="basic-addon1" >
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Password:</span>
    <input type="password" class="form-control" name="password" aria-describedby="basic-addon1" >
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Confirm Password:</span>
    <input type="password" class="form-control" name="password_confirmation" aria-describedby="basic-addon1" >
  </div>


  <input type="submit" value="Create">

<% end %>
